@model List<Personaje>

<p>
    <a asp-controller="Personajes" asp-action="Create">
        Nuevo Personaje
    </a>
</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach(Personaje per in Model)
    {
        <div class="col">
            <div class="card">
                <img src="@per.Imagen" class="card-img-top" style="height:200px">
                <div class="card-body">
                    <h5 class="card-title">@per.Nombre</h5>
                    <p class="card-text">ID: @per.IdPersonaje</p>
                    <a asp-controller="Personajes" asp-action="Delete" asp-route-idpersonaje="@per.IdPersonaje" class="btn btn-outline-danger">
                        Borrar
                    </a>
                    <a asp-controller="Personajes" asp-action="Update" asp-route-idpersonaje="@per.IdPersonaje" class="btn btn-outline-warning">
                        Modificar
                    </a>
                </div>
            </div>
        </div>
    }
</div>